<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login Page</title>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
        <link rel="stylesheet" href="signup.css">
    </head>
    <body>
    <a class="main-logo" href="/fe/src/main/main.html"><img src="../../public/icon/e-overflow-main-logo.png" alt="main-logo" class="main-logo-img"></a>
    <nav class="menu-nav">
        <div class="menu-container">
            <a class="menu-content"></a>
            <a class="menu-content">회원관리</a>
            <a class="menu-content">신고목록</a>
        </div>
    </nav>
        <div class="signup-container">
            <form class="signup-form">
                <h1>회원가입</h1>
                <input class="email-input" type="email" placeholder="이메일" required>
                <input class="" type="password" placeholder="비밀번호" required>
                <input type="password" placeholder="비밀번호 확인" required>
                <button type="submit">가입하기</button>
            </form>
        </div>
</body>
<script src="/src/js/mento.js"></script>
</html>